* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:  hsl(118, 79%, 21%);
    color: #333;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin:  auto;
    padding: 20px;
    background-color: hsl(118, 79%, 21%);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.tablas {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-flow: column nowrap;
    background-color: hsl(118, 79%, 21%)
}

.tabla {
    flex: 1;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #ddd;
}

td {
    font-size: 16px;
}

div{
    width: 100%;
}